// Header


.h_color {
  color: white;
}

header {
  position: relative;
  z-index: 2;
  margin: auto;
  .header__top--main {
    background-color: #0e2244;
    height: 42px;

    .header__top {
      height: 42px;
      float: right;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      .header__top--text {
        padding-left: 20px;
        margin-bottom: 0;
      }
    }
  }
  .header__bottom--main {
    background-color: #142c54;
    .header__bottom {
      display: flex;
      height: 71px;
      .logo {
        position: relative;
        top: -7px;
        left: 0;
        width: 113px;
        img {
          max-width: 100%;
        }
      }

      .menu__header {
        margin-left: auto;
        ul {
          margin-bottom: 0;
          display: flex;
          align-items: center;

          li {
            margin-right: 55px;
            &:last-child {
              margin-right: 0;
              margin-left: 5px;
              height: 71px;
              color: #142c54;
              padding: 20px;
              display: flex;
              justify-content: space-between;
              background-color: #ffcd00;

              img {
                height: 20px;
                padding-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
