// Header

.h_color {
  color: white;
}

header {
  position: relative;
  z-index: 2;
  margin: auto;
  .header__top--main {
    background-color: #0e2244;
    height: 42px;

    .header__top {
      height: 42px;
      float: right;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .header__top--text {
        padding-left: 46px;
        margin-bottom: 0;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        opacity: 0.7;
      }
    }
  }
  .header__bottom--main {
    background-color: $color-text;
    position: relative;
    // height: 71px;

    .header__bottom {
      display: flex;

      .menu__header {
        margin-left: auto;

        ul {
          margin-bottom: 0;
          display: flex;
          align-items: center;

          li {
            margin-right: 55px;
            &:last-child {
              margin-right: 0;
              margin-left: 5px;
              color: $color-text;
              padding: 24px 30px;
              display: flex;
              justify-content: space-between;
              background-color: #ffcd00;

              img {
                height: 20px;
                padding-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .logo {
    position: absolute;
    top: -7px;
    width: 113px;
    img {
      max-width: 100%;
    }
  }
  .donate__mobile,
  .menu__mobile {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .header__top--main {
    display: none;
  }
  .mobile__header {
    // background-color: #ffcd00;
    // height: 113px;
    .header__bottom--main {
      padding-top: 20px;
      padding-bottom: 10px;
      .header__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu__mobile {
          display: block;
        }
        .logo {
          position: relative;
          top: 2px;
          left: 0px;
          img {
            width: 86px;
          }
        }
        .donate__mobile {
          display: block;
        }
      }
    }
  }
  .menu__header {
    display: none;
  }
}
