.menu__header--desktop {
  margin-left: auto;

  ul {
    margin-bottom: 0;
    display: flex;
    align-items: center;

    li {
      margin-right: 55px;
      &:last-child {
        margin-right: 0;
        margin-left: 9px;
        color: $color-text;
        padding: 24px 33px;
        display: flex;
        justify-content: space-between;
        background-color: #ffcd00;

        img {
          height: 20px;
          padding-right: 5px;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .donate__mobile,
  .menu__mobile {
    display: none;
  }
  .menu__header--mobile {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .menu__mobile {
    display: block;
  }
  .logo {
    position: relative;
    top: 2px;
    left: 0px;
    img {
      width: 86px;
    }
  }
  .donate__mobile {
    display: block;
  }

  .menu__header {
    display: none;
  }
  .menu__header--mobile {
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f2f6ff;
    width: 80%;

    transform: translate(0, 0);
    
    ul {
      padding: 60px 0;

      li {
        padding: 20px 0;
        border-bottom: 1px solid #dcdddf;
        padding-left: 27px;
        a {
          color: #000;
          font-size: 16px;
          font-weight: 600;
          line-height: 25px;
          letter-spacing: 0.42666668px;
          text-transform: uppercase;
        }
      }
    }
    .close{
      justify-content: end;
      display: flex;
      align-items: center;
      position: absolute;
      top: 25px;
      right: 25px;
      
    }
  }
}

// menu demo
