// Slider

.slider {
  position: relative;
  margin-top: 0;
  // background-color: antiquewhite;
  // background-image: url(./img/slider.svg);
  // background-size: cover;
  // padding-bottom: 28px;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      274deg,
      rgba(20, 44, 84, 0) 0%,
      #142c54 70%,
      #142c54 100%
    );
    mix-blend-mode: multiply;
    opacity: 0.8;
    z-index: 2;
  }
  &__center {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: absolute;
    z-index: 99;
    top: 120px;
    width: 80%;

    .slider__title {
      color: #ffffff;
      // font-size: 70px;

      // width: 638px;
      // height: 156px;
      font-family: "Baskerville";
    }
    .slider__text {
      padding-bottom: 35px;
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
    }
  }

  .icon__arrow {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 37px;
  }
}

@media screen and (min-width: 992px) {
  .slider {
    height: 636px;

    .slider__title {
      font-size: 70px;
      line-height: 73px;
      font-weight: 700;
    }
    .slider__text {
      margin-top: 11px;
      font-size: 20px;
      font-weight: 500;
      line-height: 27px;
      letter-spacing: -0.2px;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0.3;
    // border: solid 3px #ffffff;
    padding: 0 38px;
  }

  .mb__img--header {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .mb__img--header {
    display: block;

    img {
      width: 100%;
    }
  }
  .slider {
    height: 100%;
    background-image: none;
    background: $color-text;

    .slider__title {
      padding-bottom: 35px;

      font-size: 34px;
      text-align: center;
      line-height: 41px;
    }
    .slider__text {
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.24375px;
    }
    .icon__arrow {
      display: none;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }

  .mySwiper {
    display: none;
  }
}

// golbal
// .arrow__left,
// .arrow__right {
//   cursor: pointer;
// }

.slider__img {
  position: relative;
  // height: 100%;
}
// css swiper
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  padding-right: 5px;
  color: #d8d8d8;
  position: absolute;
  z-index: 9999;
}

.swiper-button-next {
  padding-left: 5px;
  color: #d8d8d8;
  position: absolute;
  z-index: 9999;
}
// // end css swiper
