// Slider

.slider {
  position: relative;
  margin-top: 0;
  // background-color: antiquewhite;
  background-image: url(./img/slider.svg);
  background-size: cover;
  padding-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
    .slider__title {
      color: #ffffff;
      // font-size: 70px;

      // width: 638px;
      // height: 156px;
      font-family: "Baskerville-Bold";
    }
    .slider__text {
      padding-bottom: 35px;
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
    }
  }

  .icon__arrow {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 37px;
  }
}

@media screen and (min-width: 992px) {
  .slider {
    height: 636px;
    .slider__title {
      font-size: 70px;
      line-height: 73px;
    }
    .slider__text {
      font-size: 20px;
      font-weight: 500;
      line-height: 27px;
      letter-spacing: -0.2px;
    }
  }
  .mb__img--header {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .mb__img--header {
    display: block;

    img {
      width: 100%;
    }
  }
  .slider {
    height: 100%;
    background-image: none;
    background: $color-text;
    .slider__title {
      padding-bottom: 35px;

      font-size: 34px;
      text-align: center;
      line-height: 41px;
    }
    .slider__text {
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.24375px;
    }
    .icon__arrow {
      display: none;
    }
  }
}

// golbal
.arrow__left,
.arrow__right {
  cursor: pointer;
}
